.headerCard {
  background-color: #09243d;
  padding: 50px;
  border-radius: 20px;
}

.title a , .title span {
  color: #00cbf8;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #f47f58;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.headerBtn {
  background-color: #f47f58;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 1
}